.about {
	align-items: center;
	display: flex;
	min-height: 100svh;
	padding-bottom: 30svh;
}

.about-inner {
	align-items: center;
	width: 100%;
}

.about-text {
	max-width: 540px;
	text-align: center;
}

.about-socials {
	justify-content: center;
}

.about-handle {
	letter-spacing: 6px;
	text-transform: uppercase;
}

@media (min-width: 520px) {
	.about {
		padding-bottom: 40svh;
	}
}

@media (min-width: 768px) {
	.about {
		padding-bottom: 50svh;
	}
}

@media (min-width: 1024px), (max-height: 600px) {
	.about {
		padding-bottom: 0;
	}

	.about-inner {
		align-items: stretch;
	}

	.about-text {
		text-align: start;
	}

	.about-socials {
		justify-content: flex-start;
	}
}
