:root {
	--header-height: 50px;
}

html {
	box-sizing: border-box;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-padding-top: calc(var(--header-height) + 14px);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

#root {
	min-height: 100dvh;
}

main {
	max-width: var(--container-4);
	margin: 0 auto;
}
